<a href="https://colab.research.google.com/github/pavstar619/NahidSir_prototype_bdpolice_V2/blob/main/NahidSir_ACLED_Prototype.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Note: 

* Acled xlsx event type had some different worded rows. Fixed that after making the first total counts xlsx

* (SOLVED) Tried Specific events by separate years with cities. Didnt work out due to each city having unequal amount of events

  * (SOLVED) Tried using dictionary but lots of empty arrays as one city might not have any crimes at all for one year. Not sure how to append dict to excel

In [1]:
!pip install XlsxWriter

Collecting XlsxWriter
  Downloading https://files.pythonhosted.org/packages/3f/c1/2a77723ae03fea7650f8d77ab78055c08fd905fc956d67d4e4c4fc32c653/XlsxWriter-1.4.0-py2.py3-none-any.whl (147kB)
     |████████████████████████████████| 153kB 8.8MB/s
Installing collected packages: XlsxWriter
Successfully installed XlsxWriter-1.4.0

In [24]:
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import folium

from geopy.geocoders import Nominatim, GoogleV3

In [3]:
# !pip install geopy
# !pip install folium

In [4]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [5]:
# data = pd.read_excel('ACLED_Data_Prototype.xlsx')
data = pd.read_excel('/content/gdrive/MyDrive/Thesis Mates/Thesis Part 2/ACLED Data & Paper Writing Guideline /ACLED_Data_Prototype.xlsx')
data

       YEAR EVENT_TYPE   LOCATION  LATITUDE  LONGITUDE
0      2001    Battles   Lohagara   23.1998    89.6644
1      2001      Riots  Hathazari   22.5052    91.8134
2      2001      Riots  Rangamati   22.6432    92.1919
3      2001      Riots     Rajoir   23.1878    90.0322
4      2001      Riots   Rajshahi   24.3740    88.6011
...     ...        ...        ...       ...        ...
30639  2020      Riots       Paba   24.4417    88.6278
30640  2020      Riots    Bhuapur   24.4604    89.8727
30641  2020   Protests     Dhaka    23.7406    90.3943
30642  2020      Riots      Bogra   24.8510    89.3711
30643  2020      Riots     Dhaka    23.7333    90.4000

[30644 rows x 5 columns]

In [6]:
data.loc[0, 'LOCATION']

'Lohagara'

Specific Event types total counts by year

In [7]:
# years = data.YEAR.unique()
# events = data.EVENT_TYPE.unique() # has duplicates same values actual values is 6 not 9
# print(events)

# totalcount_df = pd.DataFrame(columns = ['YEAR'])

# for i in years:
#   year = data.loc[data['YEAR'] == i]
#   duplicates = year.pivot_table(index = ['EVENT_TYPE'], aggfunc ='size')
#   print(i)
#   print(duplicates,'\n')

#   totalcount_df = totalcount_df.append(duplicates, ignore_index=True)

# totalcount_df

# totalcount_df.to_csv('ACLED_totalcounts.csv',index=False)

Total Events by year and cities

In [8]:
# years = data['YEAR'].unique()
# locations = data['LOCATION'].unique()
# events = data['EVENT_TYPE'].unique()

# locations_totalcount_df = pd.DataFrame(columns = [years])
# count = 0

# for i in locations:
#   for j in years:
#     x = data.loc[(data['LOCATION'] == i) & (data['YEAR'] == j)]
#     # duplicates = x.pivot_table(index = ['EVENT_TYPE'], aggfunc ='size') # enable this to show specific events like riots murder etc
#     sum = x['EVENT_TYPE'].count()
#     # print('~~~~~~~~~~~~~~~~~~~~~~')
#     # print(i,j,'Total events: ',sum)
#     # print(duplicates)

#     locations_totalcount_df.loc[count,j] = sum

#   count+=1

# # locations_totalcount_df

In [9]:
# # Add cities to dataframe
# locations_totalcount_df['LOCATION'] = locations.tolist()
# locations_totalcount_df

In [10]:
# locations_totalcount_df.to_excel('ACLED_locations_totalcount_df.xlsx',index=False)

In [11]:
# x = data.loc[(data['LOCATION'] == 'Hathazari') & (data['YEAR'] == 2011)]
# x

Specific Events by years by cities (using Dictionary -> excel)

In [12]:
# years = data['YEAR'].unique()
# locations = data['LOCATION'].unique()
# events = data['EVENT_TYPE'].unique()

# years_dict = {}
# for i in years:
#   location_dict = {}
#   for j in locations:
#     x = data.loc[(data['LOCATION'] == j) & (data['YEAR'] == i)]
#     duplicates = x.pivot_table(index = ['EVENT_TYPE'], aggfunc ='size') # enable this to show specific events like riots murder etc
#     event_dict = {}
#     for event, value in duplicates.items():
#       event_dict[event] = value 

#     location_dict[j] = event_dict

#   years_dict[i] = location_dict

In [13]:
# for i in years_dict:
#   print(years_dict[i])

In [14]:
# writer = pd.ExcelWriter('yearwise_locations_specificevent.xlsx', engine='xlsxwriter')

# yearwise_locations_specificevent = pd.DataFrame()
# yearwise_locations_specificevent

# for year in years_dict:
#   count = 0
#   for city in years_dict[year]:
#     yearwise_locations_specificevent.loc[count, 'LOCATION'] = city

#     x = years_dict[year][city]
#     for event,value in x.items():
#       yearwise_locations_specificevent.loc[count, event] = value
#       # yearwise_locations_specificevent[str(event)].iloc[count] = value

#     count+=1

#     # for event in years_dict[year][city]:


#   yearwise_locations_specificevent.to_excel(writer, sheet_name=str(year),index=False)

# writer.save()

Geo Mapping Stuff

In [15]:
# plt.figure(figsize = (15,8))
# sns.scatterplot(data['LATITUDE'], data['LONGITUDE'])

In [16]:
# lat_median = data['LATITUDE'].median() # y
# long_median = data['LONGITUDE'].median() # x
# print(lat_median,long_median)

In [17]:
# # create the map.
# map_pickup = folium.Map(location=[lat_median, long_median], zoom_start = 12)

# # adding the latitude and longitude points to the map.
# data.apply(lambda row:folium.CircleMarker(location=[row['LATITUDE'], row['LONGITUDE']],).add_to(map_pickup), axis=1)

# # optional: save the map.
# map_pickup.save('geomap_bd.html')

# # display the map: just ask for the object representation in juypter notebook.
# map_pickup

(TBA) Geo Locater find districts and stuff

In [27]:
# # create the locator
# geolocator = Nominatim(user_agent="myGeocoder")

# # getting the location address
# location = geolocator.reverse("23.1998, 89.6644")
# print(location.address)
# print(location.raw)

লোহাগড়া, নড়াইল জেলা, খুলনা বিভাগ, 4130, বাংলাদেশ
{'place_id': 231862768, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'way', 'osm_id': 702395473, 'lat': '23.2010027', 'lon': '89.6661562', 'display_name': 'লোহাগড়া, নড়াইল জেলা, খুলনা বিভাগ, 4130, বাংলাদেশ', 'address': {'town': 'লোহাগড়া', 'state_district': 'নড়াইল জেলা', 'state': 'খুলনা বিভাগ', 'postcode': '4130', 'country': 'বাংলাদেশ', 'country_code': 'bd'}, 'boundingbox': ['23.2010027', '23.2097921', '89.6632862', '89.6670735']}